[include]
	patch = ~/.config/delta/themes/themes.gitconfig

[core]
	pager = delta

[delta]
	# features = gruvmax-fang
	syntax-theme = gruvbox-dark
	side-by-side = true
	line-numbers = true


[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[user]
	email = gasacchi404@gmail.com
	name = gasacchi
