[use-grammars]
only = [ "nix" ]

[[language]]
name = "nix"
scope = "source.nix"
injection-regex = "nix"
file-types = ["nix"]
shebangs = []
comment-token = "#"
language-servers = [ "nixd" ]
indent = { tab-width = 4, unit = "    " }

